/tank-honor/cocos2d/
/tank-honor/proj.android/
/tank-honor/proj.android-studio/
/tank-honor/proj.ios_mac/
/tank-honor/proj.linux/
/tank-honor/proj.tizen/
/tank-honor/proj.win10/
/tank-honor/proj.win32/
